<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tea Notes</title>
    <link rel="stylesheet" href="stylesheet/styles.css" />
</head>
<body class="main">
    {{{body}}}
</body>
</html>


<!--Layout is for the page layout-->
<!--Notes is for the formatting of the notes-->