* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/johannes-plenio-qkfxBc2NQ18-unsplash.jpg);
    background-attachment: fixed;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
}

.note {
    background-color: rgba(255, 255, 255, 0.4);
    color: black; 
    display: flex;
    margin: 70px; 
}

.note > img {
    max-height: 300px;
    max-width: 300px;
}

button {
    border: none; 
    border-radius: 50%; 
    
}